Tele remainder .json
{
  "name": "Tele remainder",
  "nodes": [
    {
      "parameters": {
        "updates": [
          "message"
        ],
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegramTrigger",
      "typeVersion": 1.2,
      "position": [
        -288,
        -64
      ],
      "id": "9c767da5-3b89-4857-b079-4245ff93db0b",
      "name": "Telegram Trigger",
      "webhookId": "253f87a3-cb21-4f36-82e2-d59d6a683644",
      "alwaysOutputData": true,
      "credentials": {
        "telegramApi": {
          "id": "dX13O2u7IWfMoqt2",
          "name": "Telegram account 4"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "let text = \"📅 Today's Schedule:\\n\\n\";\n\nif (items.length === 0) {\n  text += \"😴 No events scheduled for today!\";\n} else {\n  items.forEach((item, index) => {\n    const event = item.json;\n\n    // Fallback for missing titles\n    const title = event.summary || \"Untitled Event\";\n\n    // Format start and end times\n    let start = event.start?.dateTime || event.start?.date || null;\n    let end = event.end?.dateTime || event.end?.date || null;\n\n    // Convert ISO dateTime to readable time\n    if (start && event.start?.dateTime) {\n      start = new Date(start).toLocaleTimeString([], { hour: '2-digit', minute: '2-digit', hour12: true });\n    } else if (start) {\n      start = new Date(start).toDateString(); // For all-day events\n    }\n\n    if (end && event.end?.dateTime) {\n      end = new Date(end).toLocaleTimeString([], { hour: '2-digit', minute: '2-digit', hour12: true });\n    } else if (end) {\n      // Subtract one day for all-day events because Google Calendar sets end date as next day\n      const d = new Date(end);\n      d.setDate(d.getDate() - 1);\n      end = d.toDateString();\n    }\n\n    const location = event.location || \"No location\";\n\n    // Append to text with emojis\n    text += `${index + 1}. ✨ *${title}*\n   ⏰ ${start} - ${end}\n   📍 ${location}\n\n`;\n  });\n}\n\nreturn [{ json: { message: text } }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        128,
        -64
      ],
      "id": "0260f217-6e64-4132-9e9d-71e204caa139",
      "name": "Code in JavaScript",
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "chatId": "6674161847",
        "text": "={{ $json.message }}",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        336,
        -64
      ],
      "id": "e858f26f-39a0-433b-aa3b-268e2c670045",
      "name": "Send a text message",
      "webhookId": "3d3e7231-c8bb-4ca4-9f85-c1a3398d3574",
      "alwaysOutputData": true,
      "credentials": {
        "telegramApi": {
          "id": "dX13O2u7IWfMoqt2",
          "name": "Telegram account 4"
        }
      }
    },
    {
      "parameters": {
        "operation": "getAll",
        "calendar": {
          "__rl": true,
          "mode": "list",
          "value": "siriharshithareddy@gmail.com"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleCalendar",
      "typeVersion": 1.3,
      "position": [
        -80,
        -64
      ],
      "id": "2ec05f1f-7fc6-4926-9961-c9cf3f46fff2",
      "name": "Get many events",
      "alwaysOutputData": true,
      "credentials": {
        "googleCalendarOAuth2Api": {
          "id": "NEXB817fU9L1I0AL",
          "name": "Google Calendar account 5"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Telegram Trigger": {
      "main": [
        [
          {
            "node": "Get many events",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript": {
      "main": [
        [
          {
            "node": "Send a text message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get many events": {
      "main": [
        [
          {
            "node": "Code in JavaScript",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "b7b15af6-45c3-4905-8c22-5894e8b82cd2",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "b166dde46a8fb983d97fa1b44dd5f465a75cde864183c54e6563b26315218f90"
  },
  "id": "29Yoqd3fK6S6fsP9",
  "tags": []
}